button{
    background-color:deepskyblue;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 200px;
}

body{
    background-image:url(images/ChatGPT\ Image\ Sep\ 28\,\ 2025\,\ 07_12_26\ PM.png);   
}